
/*fondo*/
body{
    background-image: url("../images/bg-main-desktop.png");
    background-repeat: no-repeat;
    background-position:left;
    background-size:50%;
}
/*Header*/
.cabecera{
    background-color: white
}
/*Footer*/
.pie{
    background-color: white
}

@media screen and (max-width: 1050px) {
    body{
        background-image: url("../images/fondoResponsive.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    #tarjeta1{
        text-align: center;
        margin-top: 50px!important;
        width:27vw;
        height:15vw;
        border-radius: 8%;
        z-index: 1;
        position:absolute;
        
        margin-left: 0px!important;
    }
    #tarjeta2{
        margin-top: 0px!important;
        margin-left: 20px!important;
        text-align: center;
        width:27vw;
        height:15vw;
        border-radius: 8%;
        z-index: -1;
        position:absolute;
        
    }
    .container{
        
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-right: 30px;
        padding-bottom:100px!important;
        padding-right: 150px;
    }
    .cabecera{
        background-color: transparent
    }
    .pie{
        background-color: white;
    }
    .container2{
        background-color: white;
        margin-left:30px!important;
        padding-left: 20px!important;
        padding-right: 20px;
        margin: auto;
        padding-top: 120px!important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 50px!important;
    }
    .formularioFlex{
        
        display: flex;
        flex-direction: column !important;
        align-items: center;
        justify-content: center;
        
    }
}
@media screen and (max-width: 2000px) {
/*estils tarjetas de crédito*/
#tarjeta1{
    margin-left: 100px;
    width:27vw;
    height:15vw;
    border-radius: 8%;
    position:50%
}
#tarjeta2{
    margin-top: 20px;
    margin-left: 180px;
    width:27vw;
    height:15vw;
    border-radius: 8%;
    position:100%
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.container2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}
.formularioFlex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
}