
<section class="text-gray-600 body-font relative">
    <div class="formularioFlex">
    
        <div class="container">
            <div class="tarjeta">
                <img src="../../../assets/images/tarjeta.PNG" id="tarjeta1" />
            </div>
            <div class="reverso">
                <img src="../../../assets/images/reverso.jpg" id="tarjeta2" />
            </div>
        </div>
        <div *ngIf="validacion==true; then datosEnviados; else formTarjetas"></div>
        <ng-template #datosEnviados>
            <div class="container3">
                <!--AQUÍ VA A IR LA PLANTILLA DE CONFIRMAR QUE LOS DATOS ESTÁN CORRECTOS-->
                <div class="container4">
                  <div class="icono">
                    <div class="circle">
                      <img src="../../../assets/images/icon-complete.svg">
                    </div>
                  </div>
                  <div class="parrafo1">
                    <h1>THANK YOU!</h1>
                  </div>
                  <div class="parrafo2">
                    <h6>We've added your card details</h6>
                  </div>
                  <div class="confirmar">
                    <button class="boton" (click)="volverMenu()">Continue</button>
                  </div>
                </div>

            </div>
        </ng-template>
        <ng-template #formTarjetas>
          <div class="container2">
            <form #tarjetForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="relative mb-4">
              <label for="name" class="leading-7 text-sm text-gray-600" >CARDHOLDER NAME&nbsp;</label>
              <input type="text" id="name" name="name" #name="ngModel" [(ngModel)]="user.name" class=" bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out w-80" placeholder="e.g Jane Aplessed" required pattern="[a-zA-Z ]+" >
              <small style="color:hsl(0, 100%, 66%)" *ngIf="!name.valid && name.touched">
                Invalid format, letters only
              </small>
            </div>
            <div class="relative mb-4">
              <label for="email" class="leading-7 text-sm text-gray-600 ">CARD NUMBER&nbsp;</label>
              <input type="text" id="number" name="number" #number="ngModel" [(ngModel)]="user.number"  class="bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out w-80 " placeholder="e.g 1234 5678 9123 0000" required pattern="[0-9]*">
              <small style="color:hsl(0, 100%, 66%)" *ngIf="!number.valid && number.touched">
                Invalid format, numbers only
              </small>
              
            </div>
            <div class="flex flex-row justify-between items-center"  >
              <div class="relative mb-4">
                <label for="message" class="leading-7 text-sm text-gray-600 w-0.5">EXP.DATE&nbsp;</label>
                <input type="text" id="fechaDias" name="fechaDias" #fecha1="ngModel" [(ngModel)]="user.fecha1"  class="w-20 bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" placeholder="MM" required pattern="[0-9]*">
                <br>
                <small style="color:hsl(0, 100%, 66%)" *ngIf="!fecha1.valid && fecha1.touched">
                  Can't be blanck and only numbers
                </small>
                <small style="color:hsl(0, 100%, 66%)" *ngIf="fecha1.errors?.['max']">Only 2 characters</small>
              </div>
              <div class="relative mb-4" >
                <label for="message" class="leading-7 text-sm text-gray-600 w-0.5">(MM/YY)&nbsp;</label>
                <input type="text" id="fechaMeses" name="fechaMeses" #fecha2="ngModel" [(ngModel)]="user.fecha2"  class="w-20 bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" placeholder="YY" required pattern="[0-9]*">
                <br>
                <small style="color:hsl(0, 100%, 66%)" *ngIf="!fecha2.valid && fecha2.touched">
                  Can't be blanck and only numbers
                </small>
                
              </div>
              <div class="relative mb-4">
                <label for="message" class="leading-7 text-sm text-gray-600 w-0.5">CVC&nbsp;</label>
                <input type="text" id="cvc" name="cvc" #cvc="ngModel" [(ngModel)]="user.cvc"  class="w-20 bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" placeholder="e.g 123" required pattern="[0-9]*">
                <br>
                <small style="color:hsl(0, 100%, 66%)" *ngIf="!cvc.valid && cvc.touched">
                  Can't be blanck and only numbers
                </small>
                
              </div>
            </div>
            
            <button class="boton">Confirm</button>
          </form>
          </div>
        </ng-template>
        
        
    </div>
        
    
  </section>


    
